<!DOCTYPE html>
<html>
<head>
    <title>Smart Mirror</title>
    <link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
<button id="audio-init-button">Activate Voice</button>

<div class="container">
    <div id="time-widget" class="widget">
        <div id="time"></div>
        <div id="date"></div>
    </div>

    <div id="weather" class="widget">
        <img id="weather-icon" style="vertical-align: middle;" />
        <span id="weather-description"></span>
    </div>

    <div id="news" class="widget">
        <i class="fas fa-newspaper"></i> <!-- News Icon -->
        <span id="news-content"></span>
    </div>

    <div id="crypto" class="widget">
        <i class="fab fa-bitcoin"></i> <!-- Crypto Icon -->
        <span id="crypto-content"></span>
    </div>

    <div id="calendar" class="widget">
        <i class="fas fa-calendar-alt"></i> <!-- Calendar Icon -->
        <span id="calendar-content"></span>
    </div>

    <div id="tryon-options" class="widget double-span" style="display: none;">
        <h3>Try-On Options</h3>
        <div id="product-options" style="display: flex; flex-direction: row; gap: 20px;"></div>
    </div>

    <div id="tryon-preview" class="widget double-span" style="display: none;">
        <h3>Virtual Try-On</h3>
        <div id="overlay-frame">
            <video id="webcam" autoplay playsinline style="display: none;"></video>
            <canvas id="live-canvas" class="live-canvas"></canvas>
            <img id="overlay-item" src="" alt="Overlay clothing" style="display: none;" />
    </div>
</div>


<div id="voice-response" class="widget">
    <i id="mic-icon" class="fas fa-microphone"></i>
    <span id="voice-text"></span>
    <div class="visualizer-wrapper">
        <canvas id="voice-visualizer"></canvas>
    </div>
</div>


</div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
</body>

</html>
